@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
