@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* globals */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1F2937;
    color: #f9FAF8;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f9FAF8;
}

ul {
    list-style-type: none;
}

button, .cta-card {
    background-color: #3882f6;
    color: #f9FAF8;
}

button {
    width: 80px;
    height: 30px;
    margin: 15px 0px;
    border: none;
    border-radius: 4px;
}

/* header section */
.header {
    padding: 0px 75px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

    .header-left {
        font-size: 24px;
        font-weight: 900;
    }

    .header-right {
        display: flex;
        flex-flow: row wrap;
        gap: 25px;
        font-size: 18px;
        color: #E5E7EB;
    }

/* hero text */
.hero-section {
    padding: 50px 75px;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

    .hero-left{
        flex: 1 1;
    }

        .hero-main-text {
            font-size: 48px;
            font-weight: 900;
        }

        .hero-secondary-text {
            font-size: 18px;
            color: #E5E7EB;
        }

    .hero-right {
        display: flex;
        margin: auto;
    }

        .hero-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 24px;
            width: 500px;
            height: 200px;
            background-color: #a3a3a383;
        }

/* information section */
    .info-section {
        padding: 50px 75px;
        background-color: #f9FAF8;
        color: #1F2937;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .info-title {
        padding-bottom: 40px;
        font-size: 36px;
        font-weight: 900;
    }

    .info-table {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;
        margin: 10px 50px;
        gap: 25px;
    }

    .info-object {
        display: flex;
        flex-flow: column wrap;
        width: 200px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .info-object-image {
        display: flex;
        border: 4px solid #3882f6;
        border-radius: 4px;
        width: 200px;
        height: 200px;
    }

    .info-object-text {
        font-size: 12px;
        text-align: center;
        padding: 2px 8px;
    }

/* quote section */

.quote-section {
    padding: 100px 75px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .quote-container {
        max-width: 600px;
        display: flex;
        flex-flow: column wrap;
    }

        .quote-body {
            font-size: 36px;
            font-style: italic;
            align-items: center;
        }

        .quote-attribution {
            font-weight: 900;
            align-self: flex-end;
        }

/* call to action section */

.call-to-action-section {
    background-color: #f9FAF8;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .cta-card {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        padding: 25px 50px;
    }

    .cta-card-text {
        font-weight: 900;
    }

    .cta-card-subtext {
        font-size: 80%;
    }

    .cta-button {
        border: 1px solid #f9FAF8;
    }

/* footer section */
.footer { 
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}