@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* globals */
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0px 80px;
    padding: 15px;
    background-color: #1F2937;
    color: #f9FAF8;
}

a {
    text-decoration: none;
    color: #f9FAF8;
}

ul {
    list-style-type: none;
}

button, .cta-card {
    background-color: #3882f6;
    color: #f9FAF8;
}

button {
    width: 80px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

/* header section */
.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

    .header-left {
        font-size: 24px;
        font-weight: 900;
    }

    .header-right {
        display: flex;
        flex-flow: row wrap;
        gap: 25px;
        font-size: 18px;
        color: #E5E7EB;
    }

/* hero text */
.hero-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

    .hero-main-text {
        font-size: 48px;
        font-weight: 900;
    }

    .hero-secondary-text {
        font-size: 18px;
        color: #E5E7EB;
    }

    .hero-image {
        margin: 24px;
        text-align: center;
        min-width: 300px;
        min-height: 150px;
        background-color: #a3a3a383;
    }

/* information section */
    .info-section {
        padding: 25px 25px;
        background-color: #f9FAF8;
        color: #1F2937;
    }

    .info-title {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
    }

    .info-table {
        display: flex;
        justify-content: space-around;
        margin: 10px 50px;
        gap: 16px;

    }

    .info-object-image {
        display: flex;
        text-align: center;
        border: 4px solid #3882f6;
        border-radius: 4px;
        min-width: 100px;
        min-height: 100px;
    }

    .info-object-text {
        font-size: 12px;
        text-align: center;
        padding: 2px 8px;
    }

/* quote section */

.quote-section {
    padding: 100px 0px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .quote-body, .quote-attribution {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
    }

    .quote-body {
        font-size: 36px;
        font-style: italic;
    }

    .quote-attribution {
        font-weight: 900;
        text-align: right;
    }

    /* fix quote justification sizing*/

/* call to action section */

.call-to-action-section {
    background-color: #f9FAF8;
    padding: 50px;
}

    .cta-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        padding: 25px 50px;
    }

    .cta-card-text {
        font-weight: 900;
    }

    .cta-card-subtext {
        font-size: 80%;
    }

    .cta-button {
        border: 1px solid #f9FAF8;
    }

/* footer section */
.footer { 
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}