@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* globals */
body {
    font-family: "Roboto", sans-serif;
    margin: 80px;
    padding: 0px;
    background-color: #1F2937;
    color: #f9FAF8;
}

a {
    text-decoration: none;
    color: #f9FAF8;
}

ul {
    list-style-type: none;
}

/* header section */
.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

    .header-left {
        font-size: 24px;
        font-weight: 900;
    }

    .header-right {
        display: flex;
        flex-flow: row wrap;
        gap: 25px;
        font-size: 18px;
        color: #E5E7EB;
    }

/* hero text */
.hero-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

    .hero-main-text {
        font-size: 48px;
        font-weight: 900;
    }

    .hero-secondary-text {
        font-size: 18px;
        color: #E5E7EB;
    }

    .hero-image {
        padding: 24px;
        text-align: center;
        min-width: 300px;
        min-height: 150px;
        background-color: #a3a3a383;
    }
